

.container {
    background-color: white;
    display: flex;
    padding: 20px;
    width: 1500px;

}
.box {
    width: 400px;
    height: 200px;
    margin:5px ;
    font-size: 50px;
    color: white;

}
.box1 {
    background-color: blue;
    flex-grow: 1;
}
.box2 {
    background-color: red;
    flex-grow: 1;
}
.box3 {
    background-color: violet;
    flex-grow: 1;
}

.box4 {
    background-color: yellow;
    flex-grow: 1;
}
.box5 {
    background-color:aqua;
    flex-grow: 1;
}
.box6 {
    background-color: green;
    flex-grow: 1;
}
.box7 {
    background-color: brown;
    flex-grow: 1;
}
.box8 {
    background-color: aquamarine;
    flex-grow: 1;
}
.box9 {
    background-color: coral;
    flex-grow: 1;
}
.box10 {
    background-color: white;
    flex-grow: 5;
}